div {
    width: 150px;
    height: 150px;
    background-color:red;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    float: left;
    border-radius:50%;
}

img {
    width: 150px;
    height: 150px;
    border-radius:50%;
}

.hidden {
    display:none;
}

h1{
    text-align: center;
}

.guessed {
    background-color:white;
    border: 1px solid white;
}

